<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link " routerLink="/">List</a>
      <a class="nav-item nav-link" routerLink="/create">Create Profile</a>
      <a class="nav-item nav-link" routerLink="/view">view</a>
      <a class="nav-item nav-link" routerLink="/product_list">ProductList</a>
      <a class="nav-item nav-link" routerLink="/product">CreateProduct</a>
      <a class="nav-item nav-link" routerLink="/buy">Cart</a>
       
  </div>
  <!-- Search form -->

</nav>
<!-- main content container -->

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 ">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
  <div class="fixed-action-btn active" style="bottom: 45px; right: 0;position: fixed; z-index: 998;">
      
    <a class="btn-floating btn-lg red waves-effect waves-light btn-rounded  " style="color: green;float: right; "
    [routerLink]="['/chat']" routerLinkActive="router-link-active" >
      <i class="fa fa-comment" aria-hidden="true" style=" display:inline-block;font-size: 
      2.625rem;text-align: center;"></i>
    </a></div>
</div>